<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <!-- Header 프래그먼트 포함 -->
    <th:block th:replace="~{common/fragments/index :: header-fragment}"></th:block>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        /* 추가적인 스타일 */
        .modal-header, .modal-footer {
            border: none; /* 모달 헤더와 푸터의 테두리 제거 */
        }
        .card-header {
            font-family: 'Nanum Gothic', sans-serif;
            text-align: center;
            font-size: 24px;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        .card-body {
            padding-top: 2rem; /* 카드 바디 상단 여백 조정 */
            padding-bottom: 2rem; /* 카드 바디 하단 여백 조정 */
        }
        .bg-login-image {
            margin: 20px; /* 상하좌우 여백 설정 */
            background: url('/bootstrap/img/meowwms_white_icon.png') no-repeat center center;
            background-size: cover; /* 배경 이미지가 div 크기에 맞게 조정 */
            height: 500px; /* 높이 설정 */
            width: 100%; /* 너비를 부모 요소의 100%로 설정 */
        }
    </style>
</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-header">
                    MeowWms: 야옹창고
                </div>
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row justify-content-center">
                        <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> <!-- 이미지를 왼쪽에 배치 -->
                        <div class="col-lg-5">
                            <div class="p-5">
                                <div class="text-center">
                                    <!-- 여기에 텍스트 추가 -->
                                    <h1 class="h4 text-gray-900 mb-4" style="font-family: '고운돋움', sans-serif;">  </h1>
                                </div>
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">로그인</h1>
                                </div>
                                <form class="user" id="loginForm" th:action="@{/views/user/login}" method="post">
                                    <div th:if="${param.error}">
                                        <div class="alert alert-danger">
                                            사용자ID 또는 비밀번호를 확인해 주세요.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="아이디">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="비밀번호">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">로그인 상태 유지</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        로그인
                                    </button>
                                </form>
                                <div class="text-center">
                                    <a class="small" href="#" data-target="#searchId" data-toggle="modal">아이디 찾기 | </a>
                                    <a class="small" href="#" data-target="#searchPw" data-toggle="modal">비밀번호 찾기 |</a>
                                    <a class="small" href="/views/user/register">회원가입</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- 스크롤 탑 버튼 -->
<th:block th:replace="~{common/fragments/index :: scroll-to-top-fragment}"></th:block>
<!-- 로그아웃 모달 -->
<th:block th:replace="~{common/fragments/index :: logout-modal-fragment}"></th:block>
<!-- 스크립트 -->
<th:block th:replace="~{common/fragments/index :: scripts-fragment}"></th:block>



<!-- 아이디 찾기 Modal -->
<div class="modal fade" id="searchId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">아이디 찾기</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="user">
                    <div class="form-group row">
                        <div class="col">
                            <input type="text" class="form-control form-control-user" id="name" placeholder="이름">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input type="email" class="form-control form-control-user" id="email" placeholder="이메일">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                <a id="findIdBtn" class="btn btn-primary" href="/view/user/findId">아이디 찾기</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#findIdBtn").click(function (e) {
            e.preventDefault();
            // 입력된 이름과 이메일을 가져옵니다.
            var name = $("#name").val();
            var email = $("#email").val();
            // AJAX를 통해 서버로 요청을 보냅니다.
            $.ajax({
                type: "POST",
                url: "/views/user/findId",
                data: {
                    name: name,
                    email: email
                },
                success: function (response) {
                    // 서버로부터의 응답을 처리합니다.
                    // 예를 들어, 아이디를 찾은 경우 해당 아이디를 화면에 보여줄 수 있습니다.
                    alert("아이디를 찾았습니다: " + response);
                },
                error: function (xhr, status, error) {
                    // 요청이 실패한 경우 에러를 처리합니다.
                    alert("아이디를 찾는 도중 오류가 발생했습니다.");
                    console.error(error);
                }
            });
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>
</html>
