<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <!-- Header 프래그먼트 포함 -->
    <th:block th:replace="common/fragments/index :: header-fragment"></th:block>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<!-- 페이지 래퍼 -->
<div id="wrapper">
    <!-- 사이드바 -->
    <th:block th:replace="common/fragments/index :: sidebar-fragment"></th:block>
    <!-- 콘텐츠 래퍼 -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- 메인 콘텐츠 -->
        <div id="content">
            <!-- 탑바 -->
            <th:block th:replace="common/fragments/index :: topbar-fragment"></th:block>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">회원 조회</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>회원 아이디</th>
                                    <th>권한</th>
                                    <th>가입상태</th>
                                    <th>이름</th>
                                    <th>비밀번호</th>
                                    <th>연락처</th>
                                    <th>이메일</th>
                                    <th>생년월일</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- 푸터 -->
            <th:block th:replace="common/fragments/index :: footer-fragment"></th:block>
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- 스크롤 탑 버튼 -->
    <th:block th:replace="common/fragments/index :: scroll-to-top-fragment"></th:block>
    <!-- 로그아웃 모달 -->
    <th:block th:replace="common/fragments/index :: logout-modal-fragment"></th:block>
    <!-- 스크립트 -->
    <th:block th:replace="common/fragments/index :: scripts-fragment"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!-- 회원 정보 수정 Modal-->

    <div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div>
                            <div class="modal-header">
                                <h5 class="modal-title" id="memberInfo">회원 정보</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <form class="user">
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label for="role">권한</label>
                                                    <select class="form-control" id="role">
                                                        <option value="1">Admin</option>
                                                        <option value="2">WarehouseManager</option>
                                                        <option value="3">User</option>
                                                        <option value="4">NonUser</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="status">가입상태</label>
                                                    <select class="form-control" id="status">
                                                        <option value="1">Active</option>
                                                        <option value="2">Inactive</option>
                                                        <option value="3">Banned</option>
                                                        <option value="4">Request</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label for="uname">이름</label>
                                                    <input type="text" class="form-control" id="uname" readonly>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="birth">생년월일</label>
                                                    <input type="text" class="form-control" id="birth" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label for="uid">아이디</label>
                                                    <input type="text" class="form-control" id="uid" readonly>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="upw">비밀번호</label>
                                                    <input type="text" class="form-control" id="upw">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label for="email">이메일</label>
                                                    <input type="text" class="form-control" id="email">
                                                    <div id="emailError" style="color: red; font-size: 12px;"></div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="tel">전화번호</label>
                                                    <input type="text" class="form-control" id="tel">
                                                    <div id="phoneError" style="color: red; font-size: 12px;"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
<!--                        <a id="editComplete" class="btn btn-primary btn-user btn-block" href="#" >-->
<!--                            완료-->
<!--                        </a>-->
                        <button class="btn btn-primary btn-user btn-block editCompleteBtn" type="button">
                            완료
                        </button>
                        <a id="forcedWithdrawal" class="btn btn-primary btn-user btn-block" href="#" data-toggle="modal"
                           data-target="#forcedWithdrawalModal">
                            강제탈퇴
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- 강제탈퇴 Modal-->
    <div class="modal fade" id="forcedWithdrawalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>정말 탈퇴 시키겠습니까?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">아니오</button>
                    <a id="forcedWithdrawalCheck" class="btn btn-primary" href="#">네</a>
                </div>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            loadData(); // 초기 페이지 로딩 시 전체 회원 데이터 로드

            $('#dataTable').DataTable({
                language: {
                    "lengthMenu": "페이지당 _MENU_ 개 항목 표시",
                    "zeroRecords": "검색 결과가 없습니다",
                    "info": "페이지 _PAGE_ / _PAGES_",
                    "infoEmpty": "사용 가능한 기록이 없습니다",
                    "infoFiltered": "(총 _MAX_ 개 기록에서 필터링됨)",
                    "search": "검색:",
                    "paginate": {
                        "first": "처음",
                        "last": "마지막",
                        "next": "다음",
                        "previous": "이전"
                    }
                },
            });

            // 테이블의 각 행을 클릭할 때 모달을 띄우는 이벤트 처리
            $('#dataTable tbody').on('click', 'tr', function () {
                var rowData = $(this).find('td').map(function () {
                    return $(this).text();
                }).get();

                // 클릭된 행의 데이터를 모달에 표시
                $('#uid').val(rowData[0]);
                $('#role').val(getRoleId(rowData[1]));
                $('#status').val(getStatusId(rowData[2]));
                $('#uname').val(rowData[3]);
                $('#upw').val(rowData[4]);
                $('#tel').val(rowData[5]);
                $('#email').val(rowData[6]);
                $('#birth').val(rowData[7]);

                // 모달 표시
                $('#myModal').modal('show');
            });
        });

        // 데이터를 가져와서 표시하는 함수
        function loadData() {
            $.ajax({
                type: "GET",
                url: "/views/user/data",
                success: function (response) {
                    // 성공적으로 데이터를 받아왔을 때 처리
                    displayData(response);
                },
                error: function (xhr, status, error) {
                    // 데이터를 받아오지 못했을 때 처리
                    console.error("Error fetching data:", error);
                    alert("Failed to fetch data. Please try again later.");
                }
            });
        }

        // 권한 ID에 따라 권한 텍스트를 반환하는 함수
        function getRoleText(rid) {
            switch (rid) {
                case 1:
                    return 'Admin';
                case 2:
                    return 'WarehouseManager';
                case 3:
                    return 'User';
                case 4:
                    return 'NonUser';
            }
        }

        // 가입상태 ID에 따라 상태 텍스트를 반환하는 함수
        function getStatusText(sid) {
            switch (sid) {
                case 1:
                    return 'Active';
                case 2:
                    return 'Inactive';
                case 3:
                    return 'Banned';
                case 4:
                    return 'Request';
                default:
                    return '';
            }
        }

        function getRoleId(string) {
            switch (string) {
                case  'Admin':
                    return 1;
                case 'WarehouseManager':
                    return 2;
                case 'User':
                    return 3;
                case  'NonUser':
                    return 4;
            }
        }

        function getStatusId(string) {
            switch (string) {
                case 'Active':
                    return 1;
                case 'Inactive':
                    return 2;
                case 'Banned':
                    return 3;
                case 'Request':
                    return 4;
            }
        }

        // 받아온 데이터를 표시하는 함수
        function displayData(data) {
            // 데이터를 표시할 방법에 따라 HTML을 동적으로 생성하거나 수정
            // 예: 테이블에 데이터 추가
            var tableBody = $("#dataTable tbody");
            tableBody.empty(); // 기존 데이터 제거

            data.forEach(function (user) {
                // 권한과 가입상태에 따라 표시할 텍스트 결정
                var roleText = getRoleText(user.rid);
                var statusText = getStatusText(user.sid);
                var row = "<tr>" +
                    "<td>" + user.uid + "</td>" +
                    "<td>" + roleText + "</td>" +
                    "<td>" + statusText + "</td>" +
                    "<td>" + user.uname + "</td>" +
                    "<td>" + "초기화" + "</td>" +
                    "<td>" + user.tel + "</td>" +
                    "<td>" + user.email + "</td>" +
                    "<td>" + user.birth + "</td>" +
                    "</tr>";
                tableBody.append(row);
            });
        }



        // 각 input 요소의 변경 이벤트 처리
        $('#role, #status, #email, #tel').on('input', function() {
            // 변경된 input 값을 컨트롤러로 보내기 위해 '완료' 버튼 활성화
            $('.editCompleteBtn').prop('disabled', false);
        });



        $('.editCompleteBtn').click(function () {
            console.log("clickEvent")
            // 모달의 데이터를 객체로 생성
            var userData = {
                uid: $('#uid').val(),
                rid: $('#role').val(),
                sid: $('#status').val(),
                tel: $('#tel').val(),
                email: $('#email').val(),
            };
            console.log(userData)
            // AJAX를 사용하여 컨트롤러에 데이터 전송
            $.ajax({
                type: "POST", // 전송 방식
                url: "/views/user/save", // 컨트롤러 URL
                contentType: "application/json", // 전송하는 데이터 타입
                data: JSON.stringify(userData), // JSON 형식으로 데이터 변환
                success: function (response) {
                    // 성공적으로 데이터를 전송하고 응답을 받았을 때 처리
                    console.log("Data successfully sent:", response);
                    // 모달 닫기
                    $('#myModal').modal('hide');
                    // 페이지 이동
                    window.location.href = "/views/user/memberList"; // 다른 페이지로 이동
                },
                error: function (xhr, status, error) {
                    // 데이터를 전송하는 중에 오류가 발생했을 때 처리
                    console.error("Error sending data:", error);
                    alert("Failed to send data. Please try again later.");
                    // TODO: 실패 처리 로직 추가
                }
            });
        });


        // 강제 탈퇴 확인 버튼 클릭 이벤트 처리
        $('#forcedWithdrawalCheck').click(function () {
            var userId = $('#uid').val(); // 선택된 회원의 ID 값 가져오기

            // 선택된 회원의 ID 값을 컨트롤러로 전송
            $.ajax({
                type: "POST", // 전송 방식
                url: "/views/user/forcedWithdrawal", // 컨트롤러 URL
                data: {userId: userId}, // 전송할 데이터
                success: function (response) {
                    // 성공적으로 데이터를 전송하고 응답을 받았을 때 처리
                    console.log("Forced withdrawal success:", response);
                    // 모달 닫기
                    $('#forcedWithdrawalModal').modal('hide');
                    // 페이지 이동
                    window.location.href = "/views/user/memberList"; // 다른 페이지로 이동
                },
                error: function (xhr, status, error) {
                    // 데이터를 전송하는 중에 오류가 발생했을 때 처리
                    console.error("Error sending data:", error);
                    alert("Failed to send data. Please try again later.");
                }
            });
        });

        const emailInput = document.getElementById('email');
        const emailError = document.getElementById('emailError');

        emailInput.addEventListener('input', function(event) {
            const email = event.target.value;
            const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

            if (!emailRegex.test(email)) {
                emailError.textContent = '유효하지 않은 이메일입니다.';
                emailInput.style.borderColor = 'red'; // 입력 필드 테두리 색상 변경
                $('.editCompleteBtn').prop('disabled', true); // '완료' 버튼 비활성화

            } else {
                emailError.textContent = ''; // 유효성 검사 통과 시 에러 메시지 제거
                emailInput.style.borderColor = 'blue'; // 입력 필드 테두리 색상 원래대로 변경
            }
        });
        const phoneInput = document.getElementById('tel'); // 전화번호 입력 필드
        const phoneError = document.getElementById('phoneError'); // 전화번호 에러 메시지 요소

        phoneInput.addEventListener('input', function(event) {
            const phoneNumber = event.target.value;
            const phoneRegex = /^\(?(\d{3})\)?[- ]?(\d{4})[- ]?(\d{4})$/;

            if (!phoneRegex.test(phoneNumber)) {
                phoneError.textContent = '유효하지 않은 전화번호입니다.';
                phoneInput.style.borderColor = 'red'; // 입력 필드 테두리 색상 변경
                $('.editCompleteBtn').prop('disabled', true); // '완료' 버튼 비활성화
            } else {
                phoneError.textContent = ''; // 유효성 검사 통과 시 에러 메시지 제거
                phoneInput.style.borderColor = 'blue'; // 입력 필드 테두리 색상 원래대로 변경
            }
        });
    </script>

</body>
</html>